/*******************
* Generic
*******************/

body {
	font-family: Arial,Helvetica,sans-serif;
	background: #efefef;
	font-size: 14px;
	padding: 10px;
}

hr {
	border: none;
	border-bottom: 1px solid #cfcfcf;
}

.testFixtureSelection {
	margin-bottom: 10px;
}

#manifestInput {
	width: 600px;
	max-width: 60%;
}

.title, .description {
	width: 77%;
	margin: 0px 0px 10px 0;
}

.title {
	margin-top: 10px;
}

.canvasNavigationContainer {
	margin-bottom: 10px;
}

.playerContainer {
	position: relative;
	width: 700px;
}

.rangeNavigationContainer {
	position: absolute;
	top: 0px;
	right: -330px;
	width: 300px;
	height: 100%;
}

.rangeNavigationContainer, .rangeNavigationContainer ul {
	padding-left: 10px;
	margin-top: 0px;
}

.rangeNavigationContainer li {
	margin: 6px 0;
}

.rangeNavigationContainer li:hover {
	font-weight: bold;
	cursor: pointer;
}

.canvasContainer {
	position: relative;
	background: #000000;
	width: 100%;
}

.canvasContainer .workingIndicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,.7);
	color: #fff;
	text-align: center;
	padding-top: 30%;
	box-sizing: border-box;
	font-size: 20px;
}

.canvasContainer .anno {
	position: absolute;
	/*border: 1px solid rgba(0,255,0,.4);*/
	background: transparent;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.timelineContainer {
	background: #AFAFAF;
	height: 20px;
	width: 0px;
}

.timelineItemContainer {
	position: relative;
	width: 100%;
	min-height: 6px;
	background: #cfcfcf;
	top: 0px;
	padding-bottom: 3px;
}

.timelineItemContainer .lineWrapper {
	margin-top: 2px;
}

.timelineItemContainer .timelineItem {
	position: relative;
	height: 6px;
	box-sizing: border-box;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	background: #777;
}

.timelineItemContainer .timelineItem.active {
	background: #333;
}

.timelineContainer .ui-slider-range {
	background: #888888;
	box-sizing: border-box;
	border-right: 2px solid #000000;
}

.timelineContainer .ui-slider-handle {
	top: 0px;
	height: 100%;
	width: 16px;
	margin-left: -8px;
	background: transparent;
}

.timelineContainer .ui-slider-handle:focus {
	outline: none;
}

.timelineContainer .ui-slider-handle:after {
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	border-top: 12px solid #000000;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.controlsContainer {
	margin-top: 16px;
}

.controlsContainer .pauseButton {
	margin-right: 14px;
}

#toggleLogsButton {
	position: fixed;
	bottom: 18px;
	right: 18px;
	z-index: 8;
}

.logContainer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	border: 4px solid rgba(20,20,20,.4);
	width: 30%;
	height: 80%;
	font-size: 10px;
	display: none;
}

.logContainer textarea {
	display: block;
	background: #333;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 0px 10px;
	border: none;
	outline: none;
}

.logContainer button {
	position: absolute;
	bottom: 4px;
	left: 6px;
	font-size: 14px;
}

/*******************
* Media Queries
*******************/

@media (min-width: 1220px) and (max-width: 2000px) {
	
}

@media (min-width: 1010px) and (max-width: 1220px) {
	
}

@media (min-width: 650px) and (max-width: 1010px) {
	
}

@media (max-width: 650px) {

}

@media screen and (max-width: 480px) {
	
}