/*******************
* Generic
*******************/

body {
	font-family: Arial,Helvetica,sans-serif;
	background: #efefef;
	font-size: 14px;
	padding: 10px;
}

hr {
	border: none;
	border-bottom: 1px solid #cfcfcf;
}

.testFixtureSelection {
	margin-bottom: 10px;
}

#manifestInput {
	width: 600px;
	max-width: 60%;
}

.title, .description {
	width: 77%;
	margin: 0px 0px 10px 0;
}

.title {
	margin-top: 10px;
}

.playerContainer {
	max-width: 800px;
}

#toggleLogsButton {
	position: fixed;
	bottom: 18px;
	right: 18px;
	z-index: 8;
}

.logContainer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	border: 4px solid rgba(20,20,20,.4);
	width: 30%;
	height: 80%;
	font-size: 10px;
	display: none;
}

.logContainer textarea {
	display: block;
	background: #333;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	padding: 0px 10px;
	border: none;
	outline: none;
}

.logContainer button {
	position: absolute;
	bottom: 4px;
	left: 6px;
	font-size: 14px;
}

/*******************
* Media Queries
*******************/

@media (min-width: 1220px) and (max-width: 2000px) {
	
}

@media (min-width: 1010px) and (max-width: 1220px) {
	
}

@media (min-width: 650px) and (max-width: 1010px) {
	
}

@media (max-width: 650px) {

}

@media screen and (max-width: 480px) {
	
}